img.souvenirs{
    display: flex;
    margin-left: 29%;
    width: 800px;
    height: 1000px;
}
@media (max-width: 750px){
    img.souvenirs{
        margin: auto;
        padding: auto;
        width: 100%;
        max-width: 350px;
        max-height: 400px;
        align-items: center;
        flex-wrap: wrap;
    }
}