img.stick-img{
    text-align: center;
    background-color: blue;
    margin-left: 90px;
    width: 500px;
    margin-bottom: 1%;
    border: 3px solid red;
}
img.stick-img2{
    text-align: center;
    background-color: blue;
    margin-left: 90px;
    width: 500px;
    margin-bottom: 1%;
    border: 3px solid red;
}
@media (max-width: 750px){
    img.stick-img,
    img.stick-img2 {
        max-width: 90%;
        margin: 0 auto;
    }
}