/*configuracion scss del navegador en todos los hatml*/
/*nav{
    padding: 1%;
    display: flex;
    flex-direction: row;
}*/
nav.navbar{
    background: #f7e5e3;
}
ul.menu-ul{
    list-style: none;
    padding: -3%;
    background: #f7e5e3;
    width: 3000px;
    margin-left: 0;
    margin-right: 0;
}
a.boton-nav{
    text-decoration:none;
    color: rgb(0, 0, 0);
    padding: 19px;
    display: flex;
    flex-direction: row;
    transition: 0.3s
}
li.menu-li{
    display: inline-block;
    text-align: center;
    margin-left: 12%;
    background: #f7e5e3;
}
a.boton-nav:hover{
    background: #d5848d;
    transform-style: flat;
}
a.boton-f-i{
    font-size: $p-2;
    margin-left: 94%;
    overflow: hidden;
    text-decoration: solid;
    border-radius: 5%;
    background-color:#f7e5e3;
    text-decoration-color: rgb(255, 255, 255);
    color: black;
    transition: 0.3s;
    }
    a.boton-f-i:hover{
        background-color: #d5848d;
    }
    ul.navbar-nav{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $p-2;
        background-color: #f7e5e3;
        }
        .navbar-light{
            background-color:#f7e5e3 ;
        }
        .nav-item a:hover {
            background-color: #d5848d; 
            color: #f7e5e3;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        div.navbar-collapse{
            background-color: #f7e5e3;
        }
        div.container{
            background-color: #f7e5e3;
        }
/* configuracion para pantallas mas chicas*/
@media (max-width: 750px){
    a.boton-nav {
        padding: 7px;
    }
    a.boton-f-i {
        display: flex;
        padding: 0.1%;
        margin: 0%;
    width: fit-content;
    }
    nav.button_redes {
        display: flex;
        align-items: end;
        align-content: end;
        flex-direction: row;
        margin: 0.5%;
        }
        a.boton-nav{
        margin-right: 0;
        text-align: right;
        }
        a.boton-f-i{
            margin: 0 auto;
            display: flex;
        }
}