$color-primary: pink;
$p-5:50px;
$p-4:40px;
$p-3:30px;
$p-2:20px;
$p-1:10px;
@media (max-width: 750px){}

@mixin card ($texto,$bacground,$margin,$width,$margin-bottom,$border){
    text-align: center;
    background-color: blue;
    margin-left: 90px;
    width: 500px;
    margin-bottom: 1%;
    border: 3px solid #d5848d;
}